<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>label</key>
        <string>com.adam.rsyncMonitor</string>

	<key>Program</key>
        <array>
                <string>/Users/adam/Scripts/monitorWebPageMirror/rsyncMonitor.sh</string>
	</array>
	
	<key>ProgramArguments</key>
        <array>
                <string>/Users/adam/Scripts/monitorWebPageMirror/rsyncMonitor.sh</string>
	</array>

	<key>StandardOutPath</key>
	<string>/Users/adam/Scripts/monitorWebPageMirror/scriptStdOut.log</string>
	
	<key>StandardErrorPath</key>
	<string>/Users/adam/Scripts/monitorWebPageMirror/scriptStdErr.log</string>
	
	<key>UserName</key>
	<string>adam</string>
	
	<key>StartInterval</key>
	<integer>600</integer>

</dict>
</plist>
